body{
font-family:Arial;
background:#f4f6f8;
margin:0;
}

header{
background:#003366;
color:white;
padding:25px;
text-align:center;
}

#search{
width:60%;
padding:12px;
margin-top:10px;
}

nav{
background:#1c4a7e;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:20px;
font-weight:bold;
text-decoration:none;
}

.card{
background:white;
margin:20px;
padding:20px;
border-radius:8px;
box-shadow:0 3px 8px rgba(0,0,0,0.2);
}

.command{
background:#eee;
padding:10px;
font-family:monospace;
margin-top:10px;
}