body{

margin:0;
font-family:Segoe UI;
background:#f4f7fb;

}

.container{

display:flex;

}

.sidebar{

width:250px;
background:#0d3b66;
color:white;
height:100vh;
padding:20px;

}

.sidebar h2{

text-align:center;

}

.sidebar ul{

list-style:none;
padding:0;

}

.sidebar li{

padding:12px;
margin:8px 0;

}

.sidebar a{

color:white;
text-decoration:none;

}

.sidebar li:hover{

background:#1d5fa3;
border-radius:6px;

}

.main{

flex:1;

}

header{

background:white;
padding:20px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);

}

#search{

width:40%;
padding:10px;
margin-top:10px;

}

.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;

}

.card{

background:white;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
transition:0.3s;

}

.card i{

font-size:30px;
color:#0d3b66;

}

.card:hover{

transform:translateY(-5px);
box-shadow:0 6px 16px rgba(0,0,0,0.2);

}

.command{

background:#eee;
padding:10px;
margin-top:10px;
font-family:monospace;

}
.dark{

background:#1e1e1e;
color:white;

}
